{% extends "layout_loggedin.html" %}
{% block title %}Add or browse amps{% endblock %}
{% block content %}
    <h1 class="title">Amplifiers</h1>
<style>
    th,tr{
    margin-top: 25px;
    border: 1px solid black;}
    table{
    margin-top: 25px;
    border: 1px solid black;
    width: 100%;
    }
    td.normal{
    margin-top: 25px;
    border: 1px solid black;}
    }
    td.hide_border{
    margin-top: 25px;
    border-top:hidden
    border-bottom:hidden;}

    h5 {
    margin-top: 10px;}
</style>
<table class="table">
  <thead>
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Brand</th>
        <th>Production Year</th>
        <th>Watts</th>
        <th>Tubes</th>
        <th>Microphone Used</th>
        <th>Link</th>
    </tr>
  </thead>
  <tbody>
  {% for amp in amp_array %}
    <tr>
        <td class="normal"><a class="article-title" href="{{ url_for('amps', amp_id=amp.id, amp_array= amp_array) }}">{{ amp.id }}</a></td>
        <td class="normal"> {{ amp.model }}</td>
        <td class="normal"> {{ amp.brand }}</td>
        <td class="normal"> {{ amp.prod_year }}</td>
        <td class="normal"> {{ amp.watts }}</td>
        <td class="normal"> {{ amp.tubes }}</td>
        <td class="normal"> {{ amp.mic }}</td>
        <td class="normal" ><a target="_blank" rel="noopener noreferrer" href="{{ amp.link}}"> {{ amp.link}}</a> </td>
        <td class="hide_border" ><a type="button" class="btn btn-info" href="{{ url_for('edit_amps', amp_id=amp.id) }}">Edit </a></td>
        <td class="hide_border"> <a type="button" class="btn btn-danger mt-1 mb-1" href="{{ url_for('delete_amp', amp_id=amp.id) }}">Delete</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

<h5 style="margin-top: 75px">Add a new amplifier</h5>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <!-- Model -->
            <div class="form-group">
                {{ form.model.label(class="form-control-label") }}
                {% if form.model.errors %}
                {{ form.model(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.model.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.model(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Brand -->
            <div class="form-group">
                {{ form.brand.label(class="form-control-label") }}
                {% if form.brand.errors %}
                {{ form.brand(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.brand.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.brand(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Production Year -->
            <div class="form-group">
                {{ form.prod_year.label(class="form-control-label") }}
                {% if form.prod_year.errors %}
                {{ form.prod_year(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.prod_year.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.prod_year(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- watts -->
            <div class="form-group">
                {{ form.watts.label(class="form-control-label") }}
                {% if form.watts.errors %}
                {{ form.watts(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.watts.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.watts(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- LOCATION -->
            <div class="form-group">
                {{ form.tubes.label(class="form-control-label") }}
                {% if form.tubes.errors %}
                {{ form.tubes(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.tubes.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.tubes(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- mic -->
            <div class="form-group">
                {{ form.mic.label(class="form-control-label") }}
                {% if form.mic.errors %}
                {{ form.mic(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.mic.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.mic(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- ABOUT -->
            <div class="form-group">
                {{ form.link.label(class="form-control-label") }}
                {% if form.link.errors %}
                {{ form.link(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.link.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.link(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock %}