{% extends "layout_loggedin.html" %}
{% block content %}
<h2 style="margin-top: 75px">Edit Setting</h2>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <!-- Model -->
            <div class="form-group">
                {{ form.bass.label(class="form-control-label") }}
                {% if form.bass.errors %}
                {{ form.bass(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.bass.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.bass(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- mid -->
            <div class="form-group">
                {{ form.mid.label(class="form-control-label") }}
                {% if form.mid.errors %}
                {{ form.mid(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.mid.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.mid(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- TREBLE Year -->
            <div class="form-group">
                {{ form.treble.label(class="form-control-label") }}
                {% if form.treble.errors %}
                {{ form.treble(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.treble.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.treble(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- volume -->
            <div class="form-group">
                {{ form.volume.label(class="form-control-label") }}
                {% if form.volume.errors %}
                {{ form.volume(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.volume.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.volume(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- master -->
            <div class="form-group">
                {{ form.master.label(class="form-control-label") }}
                {% if form.master.errors %}
                {{ form.master(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.master.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.master(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- gain -->
            <div class="form-group">
                {{ form.gain.label(class="form-control-label") }}
                {% if form.gain.errors %}
                {{ form.gain(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.gain.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.gain(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- presence -->
            <div class="form-group">
                {{ form.presence.label(class="form-control-label") }}
                {% if form.presence.errors %}
                {{ form.presence(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.presence.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.presence(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- spec_eq -->
            <div class="form-group">
                {{ form.spec_eq.label(class="form-control-label") }}
                {% if form.spec_eq.errors %}
                {{ form.spec_eq(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.spec_eq.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.spec_eq(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- effects -->
            <div class="form-group">
                {{ form.effects.label(class="form-control-label") }}
                {% if form.effects.errors %}
                {{ form.effects(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.effects.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.effects(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- genre -->
            <div class="form-group">
                {{ form.genre.label(class="form-control-label") }}
                {% if form.genre.errors %}
                {{ form.genre(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.genre.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.genre(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
--
{% endblock content %}