{% extends "layout_loggedin.html" %}
{% block title %}Add or browse amps{% endblock %}
{% block content %}
<h2 style="margin-top: 75px">Edit Sound</h2>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <!-- name -->
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- genre -->
            <div class="form-group">
                {{ form.genre.label(class="form-control-label") }}
                {% if form.genre.errors %}
                {{ form.genre(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.genre.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.genre(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Production Year -->
            <div class="form-group">
                {{ form.amp_id.label(class="form-control-label") }}
                {% if form.amp_id.errors %}
                {{ form.amp_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.amp_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.amp_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- instrument_id -->
            <div class="form-group">
                {{ form.instrument_id.label(class="form-control-label") }}
                {% if form.instrument_id.errors %}
                {{ form.instrument_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.instrument_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.instrument_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- LOCATION -->
            <div class="form-group">
                {{ form.setting_id.label(class="form-control-label") }}
                {% if form.setting_id.errors %}
                {{ form.setting_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.setting_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.setting_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- descript -->
            <div class="form-group">
                {{ form.descript.label(class="form-control-label") }}
                {% if form.descript.errors %}
                {{ form.descript(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.descript.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.descript(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- ABOUT -->
            <div class="form-group">
                {{ form.sample.label(class="form-control-label") }}
                {% if form.sample.errors %}
                {{ form.sample(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.sample.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.sample(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock %}