{% extends "layout_loggedin.html" %}
{% block title %}Add or browse instruments{% endblock %}
{% block content %}
    <h1 class="title">Instruments</h1>
<style>
    th,tr{
    margin-top: 25px;
    border: 1px solid black;}
    table{
    margin-top: 25px;
    border: 1px solid black;
    width: 100%;
    }
    td.normal{
    margin-top: 25px;
    border: 1px solid black;}
    }
    td.hide_border{
    margin-top: 25px;
    border-top:hidden
    border-bottom:hidden;}

    h5 {
    margin-top: 10px;}
</style>
<table class="table">
  <thead>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Model</th>
        <th>Production Year</th>
        <th>Link</th>
        <th>Mods</th>
        <th>Added By</th>
    </tr>
  </thead>
  <tbody>
  {% for instrument in instrument_array %}
    <tr>
        <td class="normal">{{ instrument.id }}</a></td>
        <td class="normal"> {{ instrument.type }}</td>
        <td class="normal"> {{ instrument.model }}</td>
        <td class="normal"> {{ instrument.prod_year }}</td>
        <td class="normal" ><a target="_blank" rel="noopener noreferrer" href="{{ instrument.link}}"> {{ instrument.link}}</a> </td>
        <td class="normal"> {{ instrument.mods }}</td>
        <td class="normal"> {{ instrument.added_by }}</td>
        <td class="hide_border" ><a type="button" class="btn btn-info"
                                    href="{{ url_for('edit_instruments', instrument_id=instrument.id) }}">Edit </a></td>
        <td class="hide_border"> <a type="button" class="btn btn-danger mt-1 mb-1"
                                    href="{{ url_for('edit_instruments', instrument_id=instrument.id) }}">Delete</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

<h5 style="margin-top: 75px">Add a new instrument</h5>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <!-- type -->
            <div class="form-group">
                {{ form.type.label(class="form-control-label") }}
                {% if form.type.errors %}
                {{ form.type(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.type(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Model -->
            <div class="form-group">
                {{ form.model.label(class="form-control-label") }}
                {% if form.model.errors %}
                {{ form.model(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.model.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.model(class="form-control form-control-lg") }}
                {% endif %}
            </div>



            <!-- Production Year -->
            <div class="form-group">
                {{ form.prod_year.label(class="form-control-label") }}
                {% if form.prod_year.errors %}
                {{ form.prod_year(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.prod_year.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.prod_year(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- mods -->
            <div class="form-group">
                {{ form.mods.label(class="form-control-label") }}
                {% if form.mods.errors %}
                {{ form.mods(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.mods.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.mods(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- link -->
            <div class="form-group">
                {{ form.link.label(class="form-control-label") }}
                {% if form.link.errors %}
                {{ form.link(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.link.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.link(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock %}