{% extends "layout_loggedin.html" %}
{% block title %}view and edit your profile{% endblock %}
{% block content %}


<!------ Include the above in your HEAD tag ---------->
<style>
    .center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -20px;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    background: lightgray;
    padding: 20px;
}
</style>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div style="background color:gray;" class="center-screen">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="my_container">
                <div class="col-xs-12 col-sm-8">
                    <h2>{{ user.username }}</h2>
                    <p><strong>Name: </strong> {{ user.name }} </p>
                    <p><strong>Location: </strong>{{ user.location }}  </p>
                    <p><strong>About: </strong>{{ user.about }}</p>
                    <p><strong>Genre:</strong> {{ user.genre }}</p>
                    <p><strong>Member Since:</strong> {{ user.reg_date }}</p>
                </div>
    	 </div>
		</div>
	</div>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
         <a class="ml-2" href="{{ url_for('edit_profile') }}">Edit profile</a>
    </small>
</div>
{% endblock %}