<{% extends "layout_loggedin.html" %}
{% block title %}add sounds, browse sounds{% endblock %}
{% block content %}
    <h1 class="title">Sounds</h1>

    <style>
    th,tr{
    margin-top: 25px;
    border: 1px solid black;}
    table{
    margin-top: 25px;
    border: 1px solid black;
    width: 100%;
    }
    td.normal{
    margin-top: 25px;
    border: 1px solid black;}
    }
    td.hide_border{
    margin-top: 25px;
    border-top:hidden
    border-bottom:hidden;}

    h5 {
    margin-top: 10px;}
<style>
    th,tr{
    margin-top: 25px;
    border: 1px solid black;}
    table{
    margin-top: 25px;
    border: 1px solid black;
    width: 100%;
    }
    td.normal{
    margin-top: 25px;
    border: 1px solid black;}
    }
    td.hide_border{
    margin-top: 25px;
    border-top:hidden
    border-bottom:hidden;}

    h5 {
    margin-top: 10px;}
</style>
<table class="table">
  <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>User ID</th>
        <th>Genre</th>
        <th>Amp ID</th>
        <th>Instrument ID</th>
        <th>Setting ID</th>
        <th>Description</th>
        <th>Sample</th>
        <th>Upload Date</th>
    </tr>
  </thead>
  <tbody>
  {% for sound in sound_array %}
    <tr>
        <td class="normal">{{ sound.id }}</a></td>
        <td class="normal"> {{ sound.name }}</td>
        <td class="normal"> {{ sound.user_id }}</td>
        <td class="normal"> {{ sound.genre }}</td>
        <td class="normal"> {{ sound.amp_id }}</td>
        <td class="normal"> {{ sound.instrument_id }}</td>
        <td class="normal"> {{ sound.setting_id }}</td>
        <td class="normal"> {{ sound.descript }}</td>
        <td class="normal"> {{ sound.sample }}</td>
        <td class="normal"> {{ sound.up_date }}</td>
        <td class="hide_border" ><a type="button" class="btn btn-info" href="{{ url_for('edit_sounds', sound_id=sound.id) }}">Edit </a></td>
        <td class="hide_border"> <a type="button" class="btn btn-danger mt-1 mb-1" href="{{ url_for('delete_sound', sound_id=sound.id) }}">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h5 style="margin-top: 75px">Add a new Sound</h5>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <!-- name -->
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- genre -->
            <div class="form-group">
                {{ form.genre.label(class="form-control-label") }}
                {% if form.genre.errors %}
                {{ form.genre(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.genre.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.genre(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Production Year -->
            <div class="form-group">
                {{ form.amp_id.label(class="form-control-label") }}
                {% if form.amp_id.errors %}
                {{ form.amp_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.amp_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.amp_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- instrument_id -->
            <div class="form-group">
                {{ form.instrument_id.label(class="form-control-label") }}
                {% if form.instrument_id.errors %}
                {{ form.instrument_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.instrument_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.instrument_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- LOCATION -->
            <div class="form-group">
                {{ form.setting_id.label(class="form-control-label") }}
                {% if form.setting_id.errors %}
                {{ form.setting_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.setting_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.setting_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- descript -->
            <div class="form-group">
                {{ form.descript.label(class="form-control-label") }}
                {% if form.descript.errors %}
                {{ form.descript(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.descript.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.descript(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- ABOUT -->
            <div class="form-group">
                {{ form.sample.label(class="form-control-label") }}
                {% if form.sample.errors %}
                {{ form.sample(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.sample.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.sample(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock %}