{% extends "layout.html" %}
{% block title %}Edit sound{% endblock %}
{% block content %}
    <h1 class="title">Edit sound</h1>

    <form action="" method="post" name="sound_edit">
      <div class="field">
        <label for="name" class="label">name</label>
        <div class="control">
          <input type="text" name="name" class="input" required="required"/>
        </div>
      </div>


        <div class="field">
        <label for="description" class="label">description</label>
        <div class="control">
          <input type="text" name="description" class="input" required="required"/>
        </div>
        </div>

        <div class="field">
        <label for="genre" class="label">genre</label>
        <div class="control">
          <input type="text" name="genre" class="input" required="required"/>
        </div>
        </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary is-small">Save</button>
        </div>
      </div>
    </form>
{% endblock %}